# Node modules
**/node_modules/

# Build directories
**/build/
**/.next/
**/.docusaurus/
**/dist/
**/.parcel-cache/

# Logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.pnpm-debug.log*

# Dependency directories
**/jspm_packages/
**/bower_components/
**/web_modules/

# Cache and coverage directories
**/.cache/
**/.nyc_output/
**/coverage/
**/.rpt2_cache/
**/.rts2_cache_cjs/
**/.rts2_cache_es/
**/.rts2_cache_umd/
**/.rpt2_cache/
**/.stylelintcache/
**/.eslintcache/
**/.tsbuildinfo/

# Environment variable files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Temporary files
**/*.tmp
**/*.seed
**/*.pid
**/*.pid.lock

# Output of 'npm pack'
**/*.tgz

# Lock files
**/.lock-wscript

# VSCode
**/.vscode-test

# Optional npm cache directory
**/.npm

# REPL history
**/.node_repl_history

# Yarn v2
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz
**/.pnp.*

# Next.js specific
.next/
out/
next-env.d.ts

# Docusaurus specific
.docusaurus/
.cache-loader

# Other specific files
.DS_Store
DEVGUIDE.md
structure.md
*.tree
*.pem
.lock-wscript
.yarn-integrity
